*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
body{
    background-color: dodgerblue;
}
.wrapper{
    margin: 190px auto;
    padding: 20px;
    width: 400px;
    height: 600px;
    background-color: rgb(161, 2, 253);
    overflow: auto;
}
.wrapper::-webkit-scrollbar{
    width: 0;
}
h1{
    text-align: center;
    color: #fff;
}
.form{
    margin-top: 15px;
    display: flex;
    gap: 15px;
}
.form input{
    border: none;
    padding: 5px;
    outline: none;
    flex: 1;
}
.enter{
    padding: 5px 10px; 
    background-color: rgb(0, 132, 255);
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.collection{
    margin-top: 25px;
}
.collection button{
    padding: 5px 15px;
    border: none;
    background-color: chocolate;
    border-radius: 10px;
}
.list{
    margin-top: 3px;
    background-color: rgb(255, 0, 212);
    border-radius: 10px;
    padding: 5px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.btn{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.clear-btn {
    width: 100%;
    padding: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
  
.clear-btn:hover {
    background-color: #c82333;
}

